@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;900&display=swap');

body {
    font-family: "Poppins", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.8;
    font-weight: normal;
    background: #1f2734;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    color: #2f89fc;
}

a:hover {
    color: #0056b3;
    text-decoration: underline; 
}

a:hover, a:focus {
    text-decoration: none !important;
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none; 
}

.mr-3, .mx-3 {
    margin-right: 1rem !important;
}

button {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

button:hover, button:focus {
    text-decoration: none !important;
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important; 
}

h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5, p {
    line-height: 1.5;
    font-weight: 400;
    font-family: "Poppins", Arial, sans-serif;
}

.img{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
  
.wrapper{
    width: 100%;
}
  
#sidebar{
    min-width: 250px;
    max-width: 250px;
    background: #2a3042;
    color: #2a3042;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
    box-shadow: 0 0.75rem 1.5rem rgba(18,38,63,.03);
}

#sidebar .h6 {
      color: #2a3042;
}
    
#sidebar.active {
      margin-left: -250px;
}
      
#sidebar.active .custom-menu{
    margin-right: -50px;
}

#sidebar h1{
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}

#sidebar h1 .logo{
    color: #fff;
    display: block;
    padding: 10px 30px;
    background: #2a3042;
}
    
#sidebar ul.components {
      padding: 0;
}
    
#sidebar ul li {
    font-size: 14px;
}
      
#sidebar ul li > ul {
        margin-left: 10px; }
        
#sidebar ul li > ul li {
          font-size: 14px; }

#sidebar ul li a {
    padding: 15px 30px;
    display: block;
    color: rgba(255, 255, 255, 0.6);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#sidebar ul li a:hover {
    color: #fff;
    background: #2f89fc;
    border-bottom: 1px solid #2f89fc;
}

#sidebar ul li.active > a {
    background: transparent;
    color: #fff;
}

#sidebar ul li.active > a:hover {
    background: #2f89fc;
    border-bottom: 1px solid #2f89fc;
}

@media (max-width: 991.98px) {
    #sidebar {
        margin-left: -250px; }
    #sidebar.active {
        margin-left: 0; }
    #sidebar .custom-menu {
        margin-right: -60px !important;
        top: 10px !important; } 
}

#sidebar .custom-menu {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 0;
    margin-right: -50px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; 
}

@media (prefers-reduced-motion: reduce) {
    #sidebar .custom-menu {
        -webkit-transition: none;
        -o-transition: none;
        transition: none; } 
}

#sidebar .custom-menu .btn.btn-primary {
    background: transparent;
    border-color: transparent; 
}

#sidebar .custom-menu .btn.btn-primary i {
    color: #fff;
    font-size: 24px;
}

#sidebar .custom-menu .btn.btn-primary:hover, #sidebar .custom-menu .btn.btn-primary:focus {
  background: transparent !important;
  border-color: transparent !important;
}
  
a[data-toggle="collapse"]{
    position: relative;
}
  
.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
  
@media (max-width: 991.98px) {
    #sidebarCollapse span {
      display: none; }
}
  
#content {
    width: 100%;
    padding: 0;
    min-height: 100vh;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
  
.footer p {
    color: rgba(255, 255, 255, 0.5);
}

.card{
    border-radius: 4px;
    background: #2a3042;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    padding: 14px 80px 18px 36px;
    cursor: pointer;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.btn-logout{
    color: red;
}

.text-muted{
    color: var(--bs-gray-600)!important;
}

.btn.btn-primary{
    background-color: #556ee6;
}

.card-title{
    font-size: 1rem;
}

.div-card{
    display: flex;
}

.img-card{
    width: 20px;
    height: 20px;
    border-radius: 10%;
    margin-right: 10px;
}

.order-card {
    color: #fff;
}

.bg-c-blue {
    background: linear-gradient(45deg,#4099ff,#73b4ff);
}

.bg-c-green {
    background: linear-gradient(45deg,#2ed8b6,#59e0c5);
}

.bg-c-yellow {
    background: linear-gradient(45deg,#FFB64D,#ffcb80);
}

.bg-c-pink {
    background: linear-gradient(45deg,#FF5370,#ff869a);
}


.card-index, .card-page {
    background-color: #fff;
    border-radius: 10px;
    border: none;
    position: relative;
    margin-bottom: 30px;
}

.l-bg-cherry {
    background: linear-gradient(to right, #493240, #f09) !important;
    color: #fff;
}

.l-bg-blue-dark {
    background: linear-gradient(to right, #373b44, #4286f4) !important;
    color: #fff;
}

.l-bg-green-dark {
    background: linear-gradient(to right, #0a504a, #38ef7d) !important;
    color: #fff;
}

.l-bg-orange-dark {
    background: linear-gradient(to right, #a86008, #ffba56) !important;
    color: #fff;
}

.card .card-statistic-3 .card-icon-large .fas, .card .card-statistic-3 .card-icon-large .far, .card .card-statistic-3 .card-icon-large .fab, .card .card-statistic-3 .card-icon-large .fal {
    font-size: 110px;
}

.card-statistic-3 div{
    font-weight: 600;
}

.card-index .card-statistic-3 .card-icon, .card-page .card-statistic-3 .card-icon {
    text-align: center;
    line-height: 50px;
    margin-left: 15px;
    color: #000;
    position: absolute;
    right: 20px;
    top: 20px;
    opacity: 0.1;
}

.l-bg-cyan {
    background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
    color: #fff;
}

.l-bg-green {
    background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%) !important;
    color: #fff;
}

.l-bg-orange {
    background: linear-gradient(to right, #f9900e, #ffba56) !important;
    color: #fff;
}

.l-bg-cyan {
    background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
    color: #fff;
}